<div class="container mt-8">
        <div class="row">
            <div id="container-html" class="col-8 offset-2">
            <div class="mt-5">
            </div>
                <div class="card">
                    <div class="card-header bg-secondary bg-gradient text-light mb-3" >
                        <h4 class="text-center">{{#if editMode}}Edicion {{else}} Creacion {{/if}}de Usuarios</h4>
                    </div>
                    <div class="card-body ">
                  <form  enctype="multipart/form-data" method="POST" action="{{#if editMode}}/admin/edit-users{{else}}/admin/add-users{{/if}}">
                        <div class="mb-3">                            <label for="name" class="form-label">Nombre:</label>
                            <input type="text" class="form-control" placeholder="Ejemplo: Fulano" name="name" value="{{#if editMode}}{{user.name}}{{/if}}" required>
                        </div>
                        <div class="mb-3">                            
                            <label for="lastname" class="form-label">Apellido:</label>
                            <input type="text" class="form-control" placeholder="Ejemplo: De Tal" name="lastname" value="{{#if editMode}}{{user.lastname}}{{/if}}" required>
                        </div>
                        <div class="mb-3">
                             <label for="user" class="form-label">Usuario:</label>
                            <input type="text" class="form-control" placeholder="Usuario" id="user" name="user"  value="{{#if editMode}}{{user.usuario}}{{/if}}" required>
                        </div>
                          <div class="mb-3">
                            <label for="email" class="form-label">Correo:</label>
                            <input type="text" class="form-control" placeholder="Correo" id="email" name="email"  value="{{#if editMode}}{{user.correo}}{{/if}}"required>
                        </div>
                        {{#if editMode}}
                        {{else}}
                          <div class="mb-3">
                            <label for="password" class="form-label">Contrace単a:</label>
                            <input type="password" class="form-control" placeholder="Contrace単a" id="password" name="password" value="" required>
                        </div>
                         <div class="mb-3">
                            <label for="confirmpassword" class="form-label">Confirmar Contrace単a:</label>
                            <input type="password" class="form-control" placeholder="Confirmar Contrace単a" id="confirmpassword" name="confirmpassword" value="" required>
                        </div>
                        {{/if}}
                        <div class="mb-3">
                            <label for="Role" class="form-label">Rol:</label>
                            <select id="rol" name="rol" class="form-select" required>
                                <option value="false" {{#if editMode}}{{else}} selected {{/if}}>Seleccione un rol</option>
                                <option value="false" {{#if (equals user.admin  false)}}selected{{/if}} >User</option>
                                <option value="true" {{#if (equals user.admin  true)}}selected{{/if}} >Admin</option>
                            </select>
                        </div>
                        <div>
                            {{#if editMode}}
                            <input type="hidden" name="userId" value="{{user.id}}">
                            {{/if}}
                            <button type="submit" class="btn btn-outline-secondary float-end me-3 mb-3" >{{#if editMode}}Editar {{else}} Crear {{/if}}</button>
                            <a href="/admin/users" type="button" class="btn btn-outline-warning float-end me-3 mb-3" >Atras</a>
                       </div>
                    </form>
                    </div>
                     </div>
            </div>
        </div>


          